body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1543164904-a81403d527a2?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.stopwatch {
    text-align: center;
    margin-top: 50px;
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
    color: white;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
